$text: hsl(228, 38%, 95%);
$background: hsl(228, 38%, 5%);
$surface: hsla(231, 25%, 10%, 0.271);
$primary: hsl(227, 50%, 70%);
$secondary: hsl(225, 26%, 23%);
$accent: hsl(255, 88%, 84%);

$max-width: 980px;
