@media (prefers-color-scheme: light) {
    $text: hsl(228, 38%, 5%);
    $background: hsl(228, 38%, 95%);
    $primary: hsl(227, 41%, 51%);
    $secondary: hsl(225, 26%, 77%);
    $accent: hsl(255, 48%, 68%);
}
@media (prefers-color-scheme: dark) {
    $text: hsl(228, 38%, 95%);
    $background: hsl(228, 38%, 5%);
    $primary: hsl(227, 41%, 49%);
    $secondary: hsl(225, 26%, 23%);
    $accent: hsl(255, 48%, 32%);
}
